* {
    margin: 0;
    padding: 0;
}


:root {
    font-family: "Alice", serif;
    line-height: 150%;
    color: #573a37;
    
}

body {
    background-image: 
     url("https://cdn.casaeculinaria.com/wp-content/uploads/2023/10/16142640/Cupcake-de-chocolate-1-600x400.webp");
    background-size: cover;

}

#page {
    box-sizing: border-box;
    width: 710px;
    padding: 24px;
    background-color: #f0e8c2;
    border-radius: 28px;
    margin: 50px auto;
   
}
img {
    border-radius: 16px;
   
}

main {
    padding: 24px;
}

section + section {
    margin-top: 24px;
}

#about p + p {
margin-top: 12px;
}

h1 {
    line-height: 140%;
    font-size: 40px;
}

h2 {
    font-size: 24px;

}

h1, h2{
    color: #291b1a;
    margin-bottom: 4px;
    line-height: 90%;
}

ul {
    padding-left: 24px;
}